body {

  font-family: sans-serif;
  background-color: orange;
}

#header {
  width: 960px;
  margin: auto;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}

#main {
  width: 960px;
  margin: auto;
  background-color: white;
  padding-top: 40px;
  display: flex;
  height: 550px;
  padding-left: 20px;
  padding-right: 20px;
}

#lineup-form {
}

table tr {
  height: 30px;
}

#lineup-submit-btn {
  float: left;
  font-size: 12pt;
  background-color: orange;
  color: white;
  height: 30px;
  width: 100px;
  border-radius: 10px;
  cursor: hand;
  margin-top: 150px;
  margin-left: 40px;
}

#col1 {
  width: 500px;
}

#col2 {
  margin-left: 30px;
  width: 400px;
}

#lineup-input-tbl {
  float: left;
}

#lineup-results-tbl td {
  text-align: center;
  width: 110px;
}
