body {
  width: 1000px;
  margin: auto;
  font-family: sans-serif;
}

#header {

}

#main {
  margin-top: 40px;
}

#lineup-form {
}

table tr {
  height: 30px;
}

#lineup-submit-btn {
  float: left;
  font-size: 14pt;
  background-color: orange;
  color: white;
  height: 30px;
  width: 100px;
  border-radius: 10px;
  cursor: hand;
  margin-top: 150px;
  margin-left: 40px;
}

#col1 {
  float: left;
  width: 500px;
}

#col2 {
  float: left;
  margin-left: 30px;
  width: 400px;
}

#lineup-input-tbl {
  float: left;
}

#lineup-results-tbl td {
  text-align: center;
  width: 110px;
}
